You have the following skills available:
{{.skills}}

Each of these skills provides functions to query information corresponding to the skill or to perform actions.

Which of the skills do you want to use to process the following user request? Output it in the following JSON format:
[
  {
    "skill": "<skill name>",
    "purpose": "<Specify here the purpose for which you want to use this skill>"
  }
  ,
  ...
]