Write exactly one joke or humorous story about the topic below

Joke must be:
{{if .style}}* {{.style}}{{end}}
* G Rated
* Workplace and Family Safe
* No sexism, racism or other bias/bigotry

be createive and funny. I want to laugh.

Topic: {{.}}